/*reset e estilos gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.p{
  text-align:justify;
}

/*fim do reset geral*/

/*fonte h1*/
.apple-font {
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.bold-big {
    font-weight: bold;
    font-size: 36px;
    padding: 50px;
    padding-bottom: 60px;
}
/*fim fonte h1*/

/*mapa*/

.map-responsive {
  overflow: hidden;
  padding-top: 56.25%; /* Aspect Ratio 16:9 */
  position: relative;
  width: 100%; /* Largura completa do contêiner pai */
  max-width: 1200px; /* Define uma largura máxima para o mapa */
  height: auto; /* Ajusta a altura proporcionalmente */
  border-radius: 20px;
  margin-top: 20px;
}

.map-responsive iframe {
  border: 0;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;/*ajusta a altura para ocupar toda a altura da tela */
}

.card {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(175, 175, 175, 0.1);
  width: 350px;
  perspective: 500px;
  overflow: hidden; /*garante que o conteúdo não ultrapasse as dimensões do card */
}

.card-body {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.1rem;
  color: #666;
}

.btn-success {
background-color: #62836a;
border-color: #62836a;
border-radius: 10px;
}

.btn-success:hover {
  background-color: #323f35;
  border-color: #62836a;
  transition: 1s;
}

.map-responsive {
  width: 200%;
  height: 0;
  padding-bottom: 56.25%; /* Proporção 16:9 para o iframe */
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 20px;
}

.map-responsive iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}
/*mapa*/

/*navbar*/
.navbar {
  display: flex;
  justify-content: center; /* Espaço entre o logo e os links */
  align-items: center;
  padding: 10px 20px;
  background-color: #679c88; /* Cor de fundo da barra de navegação */
  color: white;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar ul li a:hover {
  background-color: #537a6b;
  color: #b3e4d1;
  transition: 1s;
  border-radius: 10px;
}


.navbar2 {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  padding: 2px;
  border: 2px solid #b3aeae;
  opacity: 0.9;
  margin-top: -2px;
}

.navbar2 .nav-links2 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar2 .nav-links2 li {
  margin-right: 20px;
}

.navbar2 .nav-links2 li:last-child {
  margin-right: 0;
}

.navbar2 .nav-links2 a {
  text-decoration: none;
  color: #b3aeae;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.navbar2 .nav-links2 a i {
  margin-right: 5px;
}

.navbar2 .nav-links2 a:hover {
  transition: 1s;
  color: #28a8a2;
}

.navbar .nav-links li,
.navbar2 .nav-links2 li {
    display: inline-block;
    position: relative;
    padding-right: 10px; /* Espaço entre o ícone e o texto */
}

.navbar .nav-links li::after,
.navbar2 .nav-links2 li::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 80%; /* Altura do traço vertical */
    width: 1px; /* Largura do traço vertical */
    background-color: #ccc; /* Cor do traço vertical */
}

.navbar2 {
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 10px;
}

.nav-links2 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links2 li {
  margin: 0 10px;
}

.nav-links2 a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.nav-links2 i {
  margin-right: 8px;
  font-size: 18px; /* Ajuste o tamanho conforme necessário */
}
/*fim da navbar*/

/*estilos do container dos cards*/
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: -20px;
}
/*fim do container dos cards*/

/*estilos dos cards*/
/* Estilo dos cards */
.flip-card {
  background-color: transparent;
  width: 250px; /* Largura aumentada */
  height: 350px; /* Altura aumentada */
  perspective: 1000px;
  margin: 20px;
  box-sizing: border-box;
  margin-bottom: -10px;
}

.titulo {
  font-size: 1.5em; /* Tamanho da fonte aumentado */
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid white;
  border-radius: 20px;
  padding: 30px; /* Padding aumentado */
  box-sizing: border-box;
  text-align: center;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
/*fim do estilo dos cards*/

/*cores dos cards*/
.roxo .flip-card-front {
  background: linear-gradient(120deg, rgb(207, 212, 255) 60%, rgb(239, 239, 255) 88%, rgb(206, 201, 223) 40%, rgba(144, 63, 236, 0.603) 48%);
  color: rgb(89, 80, 167);
}

.roxo .flip-card-back {
  background: linear-gradient(120deg, rgb(72, 42, 128) 30%, rgb(89, 80, 167) 88%, rgb(207, 212, 255) 40%, rgba(105, 35, 185, 0.603) 78%);
}

.amarelo .flip-card-front {
  background: linear-gradient(120deg, rgba(255, 228, 139, 0.863) 60%, rgba(255, 236, 184, 0.692) 88%, rgb(241, 225, 189) 40%, rgb(255, 204, 126) 48%);
  color: rgb(211, 141, 62);
}

.amarelo .flip-card-back {
  background: linear-gradient(120deg, rgba(255, 187, 85, 0.726) 30%, rgb(250, 174, 60) 88%, rgba(255, 228, 139, 0.863) 40%, rgb(255, 204, 126) 78%);
}

.rosa .flip-card-front {
  background: linear-gradient(120deg, rgba(255, 139, 197, 0.76) 60%, rgba(255, 184, 243, 0.692) 88%, rgb(235, 191, 220) 40%, rgb(255, 156, 242) 48%);
  color: rgb(211, 62, 136);
}

.rosa .flip-card-back {
  background: linear-gradient(120deg, rgba(180, 0, 105, 0.829) 30%, rgb(202, 76, 164) 88%, rgba(255, 139, 197, 0.76) 40%, rgb(233, 101, 215) 78%);
}

.bege .flip-card-front {
  background: linear-gradient(120deg, rgba(255, 184, 184, 0.692) 60%, rgba(255, 215, 215, 0.692) 88%, rgb(235, 209, 226) 40%, rgb(199, 141, 141) 48%);
  color: rgb(136, 94, 94);
}

.bege .flip-card-back {
  background: linear-gradient(120deg, rgba(78, 23, 35, 0.829) 30%, rgb(77, 36, 48) 88%, rgba(255, 184, 184, 0.692) 40%, rgb(199, 141, 141) 78%);
}

.preto .flip-card-front {
  background: linear-gradient(120deg, rgb(172, 172, 172) 60%, rgba(194, 194, 194, 0.76) 88%, rgb(70, 70, 70) 40%, rgb(109, 109, 109) 48%);
  color: rgb(255, 255, 255);
}

.preto .flip-card-back {
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.829) 30%, rgb(83, 83, 83) 88%, rgba(0, 0, 0, 0.692) 40%, rgb(0, 0, 0) 78%);
}

.azul .flip-card-front {
  background: linear-gradient(120deg, rgb(201, 235, 248) 60%, rgb(239, 255, 255) 88%, rgb(205, 240, 237) 40%, rgba(116, 222, 236, 0.815) 48%);
  color: rgb(80, 128, 167);
}

.azul .flip-card-back {
  background: linear-gradient(120deg, rgb(53, 110, 124) 30%, rgb(60, 147, 173) 88%, rgb(201, 235, 248) 40%, rgba(35, 137, 185, 0.603) 78%);
}

.verde .flip-card-front {
  background: linear-gradient(120deg, rgba(109, 212, 105, 0.863) 60%, rgba(198, 255, 184, 0.692) 88%, rgb(193, 230, 186) 40%, rgb(48, 136, 45) 48%);
  color: rgb(6, 134, 23);
}

.verde .flip-card-back {
  background: linear-gradient(120deg, rgba(59, 129, 63, 0.726) 30%, rgb(21, 141, 27) 88%, rgba(109, 212, 105, 0.863) 40%, rgb(134, 216, 114) 78%);
}

.laranja .flip-card-front {
  background: linear-gradient(120deg, rgba(255, 169, 89, 0.863) 60%, rgba(255, 191, 154, 0.692) 88%, rgb(230, 179, 146) 40%, rgb(255, 163, 126) 48%);
  color: rgb(184, 98, 0);
}

.laranja .flip-card-back {
  background: linear-gradient(120deg, rgba(236, 103, 42, 0.726) 30%, rgb(255, 152, 68) 88%, rgba(255, 169, 89, 0.863) 40%, rgb(223, 91, 16) 78%);
}

.limao .flip-card-front {
  background: linear-gradient(120deg, rgba(255, 231, 152, 0.801) 60%, rgba(222, 255, 191, 0.74) 88%, rgb(255, 246, 224) 40%, rgb(213, 230, 141) 48%);
  color: rgb(180, 184, 60);
}

.limao .flip-card-back {
  background: linear-gradient(120deg, rgba(204, 214, 76, 0.726) 30%, rgb(200, 230, 90) 88%, rgba(255, 231, 152, 0.801) 40%, rgb(230, 225, 63) 78%);
}

.azul-claro .flip-card-front {
  background: linear-gradient(120deg, rgba(175, 229, 255, 0.829) 60%, rgba(203, 255, 255, 0.692) 88%, rgb(212, 234, 245) 40%, rgb(91, 182, 213) 48%);
  color: rgb(0, 123, 167);
}

.azul-claro .flip-card-back {
  background: linear-gradient(120deg, rgba(24, 80, 107, 0.726) 30%, rgb(35, 129, 161) 88%, rgba(175, 229, 255, 0.829) 40%, rgb(31, 97, 125) 78%);
}

.vermelho .flip-card-front {
  background: linear-gradient(120deg, rgba(179, 26, 77, 0.692) 60%, rgba(209, 95, 120, 0.836) 88%, rgb(136, 55, 75) 40%, rgb(116, 30, 56) 48%);
  color: rgb(112, 32, 56);
}

.vermelho .flip-card-back {
  background: linear-gradient(120deg, rgba(143, 23, 53, 0.829) 30%, rgb(158, 49, 49) 88%, rgba(199, 44, 44, 0.692) 40%, rgb(128, 29, 29) 78%);
}

.azul-escuro .flip-card-front {
  background: linear-gradient(120deg, rgba(137, 157, 255, 0.829) 60%, rgba(177, 198, 255, 0.692) 88%, rgb(196, 206, 240) 40%, rgb(33, 65, 134) 48%);
  color: rgb(12, 33, 105);
}

.azul-escuro .flip-card-back {
  background: linear-gradient(120deg, rgba(24, 38, 107, 0.726) 30%, rgb(30, 62, 135) 88%, rgba(137, 157, 255, 0.829) 40%, rgb(24, 54, 88) 78%);
}

.cinza .flip-card-front {
  background: linear-gradient(120deg, rgba(213, 224, 230, 0.829) 60%, rgba(238, 244, 248, 0.692) 88%, rgb(245, 248, 250) 40%, rgb(159, 159, 159) 48%);
  color: rgb(91, 101, 107);
}

.cinza .flip-card-back {
  background: linear-gradient(120deg, rgba(42, 50, 59, 0.726) 30%, rgb(71, 80, 89) 88%, rgba(213, 224, 230, 0.829) 40%, rgb(112, 124, 133) 78%);
}

.marinho .flip-card-front {
  background: linear-gradient(120deg, rgb(124, 160, 202) 60%, rgba(74, 75, 175, 0.863) 88%, rgb(0, 94, 70) 40%, rgba(18, 0, 100, 0.795) 48%);
  color: rgb(83, 88, 148);
}

.marinho .flip-card-back {
  background: linear-gradient(120deg, rgb(55, 52, 99) 30%, rgba(51, 28, 80, 0.726) 88%, rgb(124, 160, 202) 40%, rgb(158, 126, 196) 78%);
}

  .ciano .flip-card-front {
    background: linear-gradient(120deg, rgba(50, 226, 188, 0.863) 60%, rgba(154, 255, 221, 0.692) 88%, rgb(146, 230, 209) 40%, rgb(103, 207, 199) 48%);
    color: rgb(15, 119, 114);
}

.ciano .flip-card-back {
    background: linear-gradient(120deg, rgb(57, 199, 163) 30%, rgba(29, 189, 162, 0.726) 88%, rgba(50, 226, 188, 0.863) 40%, rgb(54, 235, 196) 78%);
}
/*fim da cor dos cards*/


/* Responsive media queries */
@media (max-width: 768px) {
  .cards-container {
    margin-top: 0;
  }
  .flip-card {
    width: 140px;
    height: 200px;
  }
  .titulo {
    font-size: 1em;
  }
}


.ajaxLoad {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
svg {
  position: relative;
  z-index: 10;
  height: 40px;
  -webkit-animation: bounce .5s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite;
          animation: bounce .5s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite;
}
.ajaxLoad:after {
  position: absolute;
  bottom: 2px;
  left: 20px;
  display: block;
  width: 22px;
  height: 4px;
  background: rgba(0,0,0,0.1);
  border-radius: 100%;
  content: '';
  -webkit-animation: shadow .5s infinite;
          animation: shadow .5s infinite;
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.95, 1.1) translateY(-8px);
            transform: scale(0.95, 1.1) translateY(-8px);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.95, 1.1) translateY(-8px);
            transform: scale(0.95, 1.1) translateY(-8px);
  }
}
@keyframes shadow {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.7, 1);
            transform: scale(0.7, 1);
    background: rgba(0,0,0,0.05);
  }
}
@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.7, 1);
            transform: scale(0.7, 1);
    background: rgba(0,0,0,0.05);
  }
}

